img, svg {
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;
}
div > img,div>svg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

body {
    margin:0;
padding:0;
font-family: 'default';
}
aside {
position:absolute;
right:100vh;
height:100vh;
}
@font-face {
    font-family: 'font-ja';
    src: local('MS Mincho');
}
a:link {
    color: #8b8b8b;
}
a:visited {
    color: #5b5b5b;
}
a:hover {
    color: #000000;
}
a:active {
    color: #000000;
}