svg{
    max-height:100vh;
    max-width:100vw;
}
div > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
img {
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;
}
body {
padding-top:3vh;
padding-bottom:3vh;
font-family: 'default';
}
@font-face {
    font-family: 'font-ja';
    src: local('MS Mincho');
}
